<%- include('../partials/header') %>

<table id="list" class="table table-responsive text-center" id="allMoves">
    <thead>
        <tr>
            <th>Moves</th>
        </tr>
    </thead>
    <tbody>
        <% workouts.forEach(function(w) {%>
                <tr>
                    <td> Name: <%= w.name %></td>
                </tr>
                <tr>
                    <td> Day: <%= w.day %></td>
                </tr>
                <tr>
                    <td> Description: <%= w.description %></td>
                </tr>
                <tr>
                    <td> Muscle Group: <%= w.muscleGroup %></td>
                </tr>
                <td>
                    <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-outline-danger">X</button>
                    </form>
                </td>
            </div>
        <% }) %>
    </tbody>

</table>

<%- include('../partials/footer') %>