<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Moves</th>
        </tr>
    </thead>
    <tbody>
        <% workouts.forEach(function(w) {%>
            <tr>
                <td><%= w.name %></td>
            </tr>
            <tr>
                <td><%= w.day %></td>
            </tr>
            <tr>
                <td><%= w.description %></td>
            </tr>
            <tr>
                <td><%= w.muscleGroup %></td>
            </tr>
            <td>
                <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
        <% }) %>
    </tbody>

</table>

</body>