<%- include('../partials/header') %>

<!-- for each?  -->
<h1><%= title %></h1>

<tbody>
    <% workouts.forEach(function(Workout) { %>
        <br>
        <tr>
            <td>Move: <%= Workout.name %></td>
        </tr>
        <br>
        <tr>
            <td>Description: <%= Workout.description %></td>
        </tr>
        <br>
        <tr>
            <td>Reps: <%= Workout.reps %></td>
        </tr>
        <br>
        <tr>
            <td>Sets: <%= Workout.sets %></td>
        </tr>
        <br>
        <tr>
            <td>muscleGroup: <%= Workout.muscleGroup %></td>
        </tr>
        <br>
        <tr>
            <button type="submit"><a href="/workouts/<%= Workout._id %>/edit">Edit</a></button>
        </tr>
        <br>
        <br>
    <% }) %>
    </tbody>
</body>