<%- include('../partials/header') %>

<!-- for each?  -->
<h1><%= title %></h1>

<tbody>
    <% workouts.forEach(function(Workout) { %>
        <br>
        <tr>
            <td>Move: <%= Workout.name %></td>
        </tr>
        <br>
        <tr>
            <td>Description: <%= Workout.description %></td>
        </tr>
        <br>
        <tr>
            <td>Reps: <%= Workout.reps %></td>
        </tr>
        <br>
        <tr>
            <td>Sets: <%= Workout.sets %></td>
        </tr>
        <br>
        <tr>
            <td>muscleGroup: <%= Workout.muscleGroup %></td>
        </tr>
        <tr>
            <form action="/workouts/<%= Workout._id %>?_method=PUT" method="POST">
                <button type="submit">update</button>
            </form>
        </tr>
        <br>
        <br>
    <% }) %>
    </tbody>
</body>