<%- include('../partials/header') %>

<!-- for each?  -->
<h1>this page is linked!</h1>
    <section>
        <div>
            <%= Workout.name %>
        </div>
        <div>
            <%= Workout.description %>
        </div>
        <div>
            <%= Workout.reps %>
        </div>
        <div>
            <%= Workout.sets %>
        </div>
        <div>
            <%= Workout.muscleGroup %>
        </div>
    </section>
</body>