<%- include('../partials/header') %>

<!-- for each?  -->
<h1><%= title %></h1>

<tbody>
    <% workouts.forEach(function(workout) { %>
        <br>
        <tr>
            <td>Move: <%= workout.name %></td>
        </tr>
        <br>
        <tr>
            <td>Description: <%= workout.description %></td>
        </tr>
        <br>
        <tr>
            <td>Reps: <%= workout.reps %></td>
        </tr>
        <br>
        <tr>
            <td>Sets: <%= workout.sets %></td>
        </tr>
        <br>
        <tr>
            <td>muscleGroup: <%= workout.muscleGroup %></td>
        </tr>
        <br>
        <tr>
            <button type="submit"><a href="/workouts/<%= workout._id %>/edit">Edit</a></button>
        </tr>
        <br>
        <br>
    <% }) %>
    </tbody>
</body>