<%- include('../partials/header') %>
<%= console.log(workout) %>
<h1>Update your move </h1>
<form action="/workouts/<%= workout._id %>?_method=PUT" method="POST" value="<%= workout.day %>">
    <label>Day of the week: </label>
    <select name="day">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <br>
    <br>
    <label>Name: </label>
    <input type="text" name="name" value="<%= workout.name %>">
    <br>
    <br>
    <label>Description: </label>
    <input type="text" name="description" value="<%=  workout.description %>">
    <br>
    <br>
    <label>Reps: </label>
    <input type="number" name="sets" value="<%= workout.reps %>">
    <br>
    <br>
    <label>Sets: </label>
    <input type="number" name="reps" value="<%= workout.sets %>">
    <br>
    <br>
    <label>Muscle Group: </label>
    <input type="text" name="muscleGroup" value="<%= workout.muscleGroup %>">
    <br>
    <br>
    <input type="Submit" value="Update Move">
</form>

<%- include('../partials/footer') %>